.ki-thi-chi-tiet {
    padding: 10px 20px;


    .wrap-de {
        display: flex;
        width: 300px;

        --position: relative;

        .de-this {
            display: flex;
            width: 500px;

            --flex-wrap: wrap;
            --max-height: 300px;
            --min-width: 100%;
            --position: absolute;
            z-index: 1;
            --background-color: red;

            .de-thi {
                width: 200px;
                height: 250px;
                border: 1px solid #ddd;
                border-radius: 10px;

                padding: 10px;
                --position: relative;
                --float: left;

                .remove {
                    position: absolute;
                    width: 15px;
                    text-align: center;
                    right: 0;
                    top: 0px;
                    display: none;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &:hover .remove {
                    display: block;
                }

                margin-right: 5px;
            }
        }
    }

    .thi-sinh {
        --margin-top: 250px;
        width: 100%;
    }
}