@import 'assets/constant/const-css';

.wrap-exam {
    text-align: left;
    ;

    //main page
    .page-main {

        .page-add {
            display: none;
        }

        .list {
            background-color: #fff;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            border-radius: 5px;
            margin-bottom: 10px;
            transition: .1s;
            border: 1px solid #fff;


            &:hover {
                --border: 1px solid #999;
                background-color: $color-bg;
            }
        }

        .head {
            font-weight: bold;

            &:hover {
                // border: 1px solid #fff;
                background-color: #fff;
            }
        }

    }

    // add page
    .page-add {

        // //form add        
        .form-add {

            width: 85%;
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;

            .control {
                display: flex;
                justify-content: flex-end;

                .button {
                    width: 120px;
                    margin-left: 10px;
                }
            }

            .da {
                border: 1px solid green;
            }
        }
    }

    // page ddetail
    .page-detail {
        width: 95%;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
    }

    .title {
        display: flex;

        .head {
            font-weight: bold;
            width: 99%;
        }

        .remove {
            text-align: right;
            --width: 50px;
            font-size: 15px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .control {
        display: flex;
        justify-content: flex-end;

        .button {
            width: 120px;
            margin-left: 10px;
        }

        .button-edit {}
    }

    .phuong-an {
        --width: 100%;
        --display: flex;

        &--item {
            width: 40%;
        }
    }

    .content-question {
        width: 90%;
        margin-left: 10%;
    }

    .wrap {
        padding: 10px;
        border-radius: 5px;
    }

    .light {
        background-color: $color-bg;

        .light-sub {
            background-color: $color-bg;
        }
    }
}

.press-add {
    position: fixed;
    right: 90px;
    top: 80px;
    z-index: 1;
}

hr {
    width: 100%;
    display: flex;
    justify-self: flex-start;
}