.thongtin-nhom {

    width: 100%;
    min-height: 300px;
    box-shadow: 5px 5px 5px #ddd;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;

    .nhoms_1 {
        //display: flex;

        .nhom-item {
            width: 100%;
            height: 35px;
            border-bottom: 1px solid #ddd;
        }
    }
}

.ds-sinhvien {

    .sinhvien-item {
        display: flex;

        .control {
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
        }

        border-bottom: 1px solid #ddd;
    }
}