.page-taikhoan {
    width: 100%;
    min-height: 600px;
    max-height: 600px;
    //max-width: 700px;

    .taikhoan-content {
        width: 100%;
        min-height: 600px;
        max-height: 600px;
        overflow: auto;

        .taikhoan-main {
            min-height: 600px;

            .taikhoan-gv,
            .taikhoan-sv {
                width: 350px;
                height: 180px;
                min-width: 350px;
                min-height: 180px;
                box-shadow: 5px 5px 10px #ddd;
                margin-bottom: 20px;

                border-radius: 5px;
                padding: 10px;
                transition: all .2s;

                &:hover {
                    cursor: pointer;
                    //transform: scaleY(3px);
                    transition: all .2s;
                    transform: translateY(3px);
                }
            }
        }
    }
}

h5 {
    &:hover {
        cursor: pointer;
    }
}