.cauhois {
    height: 400px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;

    .cauhoi-title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .cauhoi-map {
        width: 90%;
        --height: 80%;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 50px;

        .cauhoi-map-item {
            --padding: 30px;
            border: 1px solid #fff;
            background-color: #ddd;
            width: 30px;
            height: 30px;
            margin-left: 10px;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                border: 1px solid #ddd;
            }
        }

        .selected {
            opacity: .5;
        }
    }

    position: relative;

    .thoigian-nopbai {
        position: absolute;
        width: 95%;
        bottom: 10px;
        //padding-left: 100px;
        text-align: center;
    }
}