.wrap-header {
    position: sticky;
    //top: -5px;

    .teach-header {
        width: 100%;
        //height: 40px;
        //background-color: #fff;
        box-shadow: 3px 3px 5px #ddd;

        display: flex;
        justify-content: space-between;
        background-color: rgb(74, 126, 128);
        //opacity: .9;

        align-items: center;
        height: 45px;

        .menu-top {
            width: 60%;
            --margin: 0 auto;
            margin-top: 12px;

            ul {
                //height: 65px;
                display: flex;
                --align-items: center;
                --justify-content: center;

                li {
                    display: flex;
                    width: 150px;
                    //height: 65px;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;

                    //color: black;
                    color: #fff;
                    --margin-right: 5px;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                        //background-color: #ddd;
                        color: yellow;
                    }
                }

                .actived {

                    //color: blue;
                    //background-color: red;                 
                    .label {
                        color: yellow;
                    }
                }
            }
        }


        .search {
            width: 30%;
            display: flex;
            align-items: center;

            input {
                border: none;
                width: 100%;
                --height: 100%;
                font-size: 16px;
                border-bottom: 1px solid #ddd;

                &:focus {
                    outline: none;
                }
            }
        }

        .login {
            display: flex;
            --width: 150px;
            width: 15%;
            justify-content: center;
            align-items: center;

            justify-content: space-between;
            padding: 0 20px;

            &:hover {
                --background-color: #ddd;
                --border-radius: 5px;
                --text-decoration: underline;
                cursor: pointer;
            }
        }

    }

    // .notify {
    //     width: 100%;
    //     height: 25px;
    //     padding: 0 20px;
    //     display: flex;
    //     align-items: center;
    //     background-color: #ddd;

    // }

    .info {
        color: #fff;

        &:hover {
            color: yellow;
        }
    }
}