@import 'assets/constant/const-css';

.wrap-user {
    text-align: left;
    margin-left: 30px;

    //main page
    .page-main {
        width: 95%;
        display: flex;
        margin-left: -30px;

        .gv,
        .sv {
            width: 250px;
            height: 350px;
            background-color: #fff;
            border-radius: 10px;
            margin-left: 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }
    }

    // page-teach
    .page-teach,
    .page-student {

        .list-teach,
        .list-student {
            display: flex;
            width: 100%;
            flex-wrap: wrap;

            .teach,
            .student {
                width: 250px;
                height: 320px;
                background-color: #fff;
                margin-right: 20px;

                border-radius: 10px;
                margin-bottom: 20px;
                padding: 0 20px;

                label {
                    font-size: 13px;
                }

                .avatar {
                    height: 100px;
                    width: 100px;
                    border: 1px solid #ddd;
                    border-radius: 50px;
                    margin: 5px auto;
                }

                .infor {
                    .title {
                        width: 30%;
                    }
                }
            }

            .student {
                height: 300px;
            }
        }
    }

    //page-teach-detail
    .page-teach-detail,
    .page-student-detail {
        .content {
            display: flex;

            .left {
                width: 20%;
                height: 450px;
                border-radius: 10px;
                background-color: #fff;
                margin-right: 30px;
            }

            .right {
                width: 70%;
                height: 450px;
                border-radius: 10px;
                background-color: #fff;
                --text-align: center;
                padding: 10px;

                .title {
                    text-align: center;
                }

                .infor {
                    --padding: 0 30px;
                    margin: 0 auto;
                    width: 80%;

                    .field {
                        margin-bottom: 10px;
                        height: 30px;
                        display: flex;

                        label {
                            width: 30%;
                            height: 30px;
                            display: flex;
                            align-items: flex-end;
                        }

                        input {
                            height: 30px;
                            width: 70%;
                            border: none;
                            border-bottom: 1px solid #ddd;

                            &:focus {
                                outline: none;
                            }
                        }

                    }

                    .control {
                        display: flex;
                        justify-content: flex-end;

                        button {
                            width: 20%;
                            margin-left: 5px;
                        }
                    }
                }

                .bold {
                    font-weight: bold;
                }
            }
        }

    }
}